@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
}

body
{
    background-image: url(img/body_background2.jpg);
    background-size: cover;
}

#banner
{
    display: inline-block;
    text-align: center;
    margin: 10px;
    //border-radius: 40px;
    display: block;
    border: 2px dashed red;
}

.logo a
{   
    background: #fff;
    color: #3b0561;
    text-decoration: none;
    padding: 10px 100px 0px 0px;
    //border-radius: 40px;
    font-weight: 800;
    font-size: 3em;
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    max-width: 100px;
    border: 2px dashed red; 
}

.buttons ul
{
    align-items: center;
    font-weight: 800;
    float: left;
    margin-top: 34px;
    font-size: 26px;
    border: 2px dashed red;
}

.buttons ul > li
{
    list-style: none;
    float: left;
    border: 2px dashed blue;
}

.buttons ul > li a
{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    margin: auto;
    border: 2px dashed yellow;
}

.buttons ul > li a:hover 
{
    background: #fff;
    color: #3b0561;
    padding: 10px;
    border: 2px dashed red;
}

.login
{
    background: #fff;
    color: #3b0561;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 15px 10px 20px;
    border-radius: 40px;
    font-weight: 800;
    font-size: 26px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    border: 2px dashed red;
}