@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
}

body
{
    background-image: url(img/body_background2.jpg);
    background-size: cover;
}

#banner
{
    display: inline-block;
    text-align: center;
    margin: 10px;
    border-radius: 40px;
    display: block;
}

.logo a
{   
    background: #fff;
    color: #3b0561;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 65px 10px 60px;
    border-radius: 40px;
    font-weight: 800;
    font-size: 3em;
    float: left;
    margin-top: 12px;
    margin-right: 10px;
}

.buttons ul
{
    align-items: center;
    font-weight: 800;
    float: left;
    margin-top: 27px;
    font-size: 26px;
}

.buttons ul > li
{
    list-style: none;
    padding: 0px 15px 15px 0px;
    float: left;
}

.buttons ul > li a
{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}

.buttons ul > li a:hover 
{
    background: #fff;
    color: #3b0561;
}

.login
{
    background: #fff;
    color: #3b0561;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 15px 10px 20px;
    border-radius: 40px;
    font-weight: 800;
    font-size: 26px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}