@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    background: linear-gradient(#3b0561, #2d539e);
}

/* The top part of the page: logo, home, contact etc. */
#topnav
{
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    word-spacing: 2px;
    align-items: center;
    font-size: 24px;
}

.logo
{
    color: #3b0561;
    background-color: #fff;
    padding: 5px 220px 0px 220px;
    border-radius: 40px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    letter-spacing: 15px;
    margin-left: 5px;
}

ul
{
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

ul > li
{
    display: inline-flex;
    list-style: none;
    padding: 0px 15px 15px 0px;
}

ul > li a
{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
}

ul > li a:hover
{
    background: #fff;
    color: #3b0561;
}

ul > li a.login:last-child
{
    margin-left: 46px;
    background: #fff;
    color: #3b0561;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    padding: 10px 40px 10px 36px;
    border-radius: 20px;
    font-weight: 900;
    margin-top: 0px;
}