*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: verdana;
}

body
{
    font-family: sans-serif;
    height: 100vh;
    background-image: url(img/body_background2.jpg);
    background-size: cover;
    background-position: center;
}